<mat-toolbar color="primary">
    <span>
      <a routerLink="/">Tale-Ebook Store</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li>
        <li>
        <a mat-button  routerLink="library">My Library</a>
      </li>
      <li>
        <a mat-button routerLink="store" >Store</a>
      </li>
      
      <li>
        <a mat-button routerLink="updateUser"  >Account</a>
      </li>
      
      <li>
        <mat-icon routerLink="/cart" svgIcon="cart" aria-hidden="false" aria-label="cart"></mat-icon>
        </li>
      </ul>
    </mat-toolbar>
