<mat-grid-list cols="6" rowHeight="100px">

  <mat-grid-tile  [colspan]="2" [rowspan]="2">
      <a id=btn color="accent" mat-raised-button routerLink="/store" routerLinkActive="mat-accent">Take A Tour Of TALE</a>
  </mat-grid-tile>

  <mat-grid-tile  [colspan]="2" [rowspan]="2"></mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="7">

    <div class=loginSignup>
      <app-login></app-login>
      <app-register></app-register>
    </div>

  </mat-grid-tile>

<mat-grid-tile
      [colspan]="2"
      [rowspan]="3">
      <p class="abtTale">
       
        Stay Curious
        <br>
        There’s always something new to discover.
      </p>
      
    </mat-grid-tile>


</mat-grid-list>
