<!-- Masthead -->
<header class="masthead">

    <div class ="svg_container">
        <svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='5 6 90 24' width='90' height='22'>
          <path d='M95 18.87H5' id='arrowline' fill-opacity='0' stroke='#000' stroke-width='2'/>
          <path d='M82 30l12.94-11L82 8' id='arrowhead' fill-opacity='0' stroke='#000' stroke-width='2'/>
        </svg>
     </div>

    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">Publish your work!</h1>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 align-self-baseline">
            </div>
        </div>
    </div>
</header>


