<mat-grid-list cols="12" rowHeight="2:1">
    <mat-grid-tile  [colspan]="1" [rowspan]="2"></mat-grid-tile>
    <mat-grid-tile  [colspan]="10" [rowspan]="10">        

<mat-card>
       <h2>Change Password</h2>
       <form (submit)="onChangePass(ChangePassForm)" #ChangePassForm="ngForm" method="post">

        <mat-form-field class="full-width">
                <mat-label>Old Password</mat-label>
                <input type="password" name="Oldpassword" ngModel matInput placeholder="Old Password" #oldPasswordInput="ngModel" required minlength="8">
                <mat-error *ngIf="oldPasswordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        
        <br>
         <br>
         <mat-form-field class="full-width">
            <mat-label>New Password</mat-label>
            <input type="password" name="newPassword" ngModel matInput placeholder="New Password" #newPasswordInput="ngModel" required minlength="8">
            <mat-error *ngIf="newPasswordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>
        <br>
        <br>
             <button type="submit" mat-raised-button color="accent">Change Password</button>

            
            </form>
<flash-messages></flash-messages>          
            <br>
    </mat-card>

</mat-grid-tile>
<mat-grid-tile  [colspan]="1" [rowspan]="2"></mat-grid-tile>
</mat-grid-list>


