<div>
    <section class="page-header" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="content">
                        <h1 class="page-name">Payment Gateway</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>





<div class=page-wrapper>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-8">
<ul class="payment_methods">
    <li>
      <div class="bfwc-body ">
        <div class="bfwc-new-payment-method-container">
          <div class="bfwc-card-form">
            <div class="bfwc-form-wrapper">
              <div class="bfwc-field-container">
                <label>Card Number</label>
                <div id="bfwc-card-number" class="hosted-field">
                  <span class="bfwc-card-type"></span>
                </div>
              </div>
            </div>
            <div class="bfwc-form-wrapper">
              <div class="bfwc-field-container field-exp-month">
                <label>Exp Date</label>
                <div id="bfwc-expiration-month" class="hosted-field"></div>
              </div>
              <div class="bfwc-field-container field-year">
                <div id="bfwc-expiration-year" class="hosted-field"></div>
              </div>
              <div class="bfwc-field-container field-cvv">
                <label>CVV</label>
                <div id="bfwc-cvv" class="hosted-field"></div>
              </div>
            </div>
            <div class="bfwc-form-wrapper">
  
              <div class="bfwc-field-container field-postal">
                <label>Postal</label>
                <div id="bfwc-postal-code" class="hosted-field"></div>
              </div>
  
  
              <div class="bfwc-field-container field-save">
                <label>Save</label>
                <input type="checkbox" id="bfwc_save_credit_card" name="bfwc_save_credit_card">
                <label class="bfwc-save-label" for="bfwc_save_credit_card"></label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="row">
      <div class="col-md-3"></div>
  <a  class="btn col-md-2">Pay Now</a>
</div>
</div>
</div>
  
</div>
</div>
  