<div class="registerForm">
<mat-card>
<h2 >CREATE YOUR TALE ACCOUNT NOW!</h2>
    <form >
       <mat-form-field class="full-width">
              <mat-label>First Name</mat-label>
              <input  matInput  placeholder="First name"  name="fname"  required>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input  matInput  placeholder="Last Name" name="lname"  required>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input type="email"  matInput  placeholder="Email" name="email" required>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput  placeholder="Password"  name="password" required>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input type="password" matInput  placeholder="Confirm Password"  name="cpassword" required>
         </mat-form-field>
         <br>
         
           <br>
           <button type="submit" mat-raised-button color="accent">Join TALE</button>  
         </form>
         <br>
         <h4>Or Login with</h4> 
         <img src="/assets/FB.svg">
         <img src="/assets/google.svg">
      </mat-card>
</div>
