<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img src="{{ book.imagepath }}" />
            </div>
            <div class="tab-pane" id="pic-2">
              <img src="{{ book.imagepath }}" />
            </div>
            <div class="tab-pane" id="pic-3">
              <img src="{{ book.imagepath }}" />
            </div>
            <div class="tab-pane" id="pic-4">
              <img src="{{ book.imagepath }}" />
            </div>
            <div class="tab-pane" id="pic-5">
              <img src="{{ book.imagepath }}" />
            </div>
            <br />
            <div id="goodreads-widget">
              <div id="gr_header">
                <h1>
                  <a
                    rel="nofollow"
                    href="https://www.goodreads.com/book/show/50019613-dune"
                    >Dune Reviews</a
                  >
                </h1>
              </div>
              <iframe
                id="the_iframe"
                src="https://www.goodreads.com/api/reviews_widget_iframe?did=DEVELOPER_ID&amp;format=html&amp;isbn=0812511816&amp;links=660&amp;min_rating=&amp;review_back=fff&amp;stars=000&amp;text=000"
                width="565"
                height="400"
                frameborder="0"
              ></iframe>
              <div id="gr_footer">
                <a
                  class="gr_branding"
                  target="_blank"
                  rel="nofollow noopener noreferrer"
                  href="https://www.goodreads.com/book/show/50019613-dune?utm_medium=api&amp;utm_source=reviews_widget"
                  >Reviews from Goodreads.com</a
                >
              </div>
            </div>
            <!--<div class="reviews-container">
              <h2>Reviews</h2>
              <div class="review">
                <span class="icon-container"
                  >5 <i class="fa fa-star checked"></i
                ></span>
                <div class="progress">
                  <div class="progress-done" data-done="68"></div>
                </div>
                <span class="percent">68%</span>
              </div>
              <div class="review">
                <span class="icon-container"
                  >4 <i class="fa fa-star checked"></i
                ></span>
                <div class="progress">
                  <div class="progress-done" data-done="13"></div>
                </div>
                <span class="percent">13%</span>
              </div>
              <div class="review">
                <span class="icon-container"
                  >3 <i class="fa fa-star checked"></i
                ></span>
                <div class="progress">
                  <div class="progress-done" data-done="9"></div>
                </div>
                <span class="percent">9%</span>
              </div>
              <div class="review">
                <span class="icon-container"
                  >2 <i class="fa fa-star checked"></i
                ></span>
                <div class="progress">
                  <div class="progress-done" data-done="3"></div>
                </div>
                <span class="percent">3%</span>
              </div>
              <div class="review">
                <span class="icon-container"
                  >1 <i class="fa fa-star checked"></i
                ></span>
                <div class="progress">
                  <div class="progress-done" data-done="7"></div>
                </div>
                <span class="percent">7%</span>
              </div>
            </div>-->
          </div>
        </div>
        <div class="preview col-md-6">
          <div class="preview-pic tab-content ">
            <button class="btn" type="button">
              <img
                src="/assets/icons/heart.svg"
                alt=""
                width="32"
                height="32"
                title="Cart"
                routerLink="/cart"
              />
            </button>
            <button
              class="btn"
              type="button"
              routerLink="/cart"
              style="border: 1rem; visibility: visible;"
            >
              <b>Add to Cart</b>
            </button>
          </div>
          <div class="preview-pic tab-content">
            <ul>
              <li>
                <h4>
                  <strong
                    ><a>{{ book.title }}</a></strong
                  >
                </h4>
              </li>
              <li>
                <p>Author: {{ book.authorName }}</p>
              </li>
              <li>
                <p>Genre: {{ book.genre }}</p>
              </li>
              <li>
                <p class="price">Price: ₹{{ book.price }}</p>
              </li>
            </ul>
          </div>
          <div class="preview-pic tab-content ">
            <ul>
              <li>
                <h5 class="mt-20"><b>About:</b></h5>
                <p class="book-description">
                  {{ book.description }}
                  <br />
                </p>
              </li>

              <li>
                <h5 class="book-about"><b>About the Author:</b></h5>
                <p class="book-about">
                  {{ book.authorName }}
                </p>
                <br />
              </li>

              <li>
                <h5 class="book-publish"><b>ISBN</b></h5>
                <p class="book-publish">
                  {{ book.isbn }}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
