<nav id="navi" class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top" >
  <a class="navbar-brand pull-left" href="#" style="font-family: 'Pacifico', cursive; font-size: x-large; padding-top: 0; padding-bottom: 0;">Tale-Ebook Store</a>
  <div class="container">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto blink-text-menu">
   
        <li data-toggle="collapse" data-target=".navbar-collapse.show " class="nav-item" *ngIf="isLoggedIn$ | async as isLoggedIn">
      <h6 class="nav-link" *ngIf="firstName$"> Hi! {{ firstName$ | async }} </h6>
          
        </li>

         
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
          <a class="nav-link" routerLink="store" >Store</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
          <a class="nav-link" routerLink="library" *ngIf="isLoggedIn$ | async as isLoggedIn" >My Library</a>
        </li>
        
        
        <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
          <a class="nav-link dropdown-toggle"  aria-haspopup="true" aria-expanded="false" data-toggle="dropdown"  routerLink="editUserProfile"
          *ngIf="isLoggedIn$ | async as isLoggedIn" >Account</a>
          <ul class="dropdown-menu ">
            <li><a class="dropdown-item" routerLink="editUserProfile">Edit Profile</a></li>
            <li><a class="dropdown-item" routerLink="prevOrders">See Previous Orders</a></li>
                </ul> 
        </li>
        


      <li data-toggle="collapse" data-target=".navbar-collapse.show " class="nav-item"[routerLinkActive]="['active']">
       <a class="nav-link" routerLink="/cart" *ngIf="isLoggedIn$ | async as isLoggedIn"> Cart</a>
      </li>

      <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item"[routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/wishlist" *ngIf="isLoggedIn$ | async as isLoggedIn">Wishlist</a>
       </li>
 
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/author/home" *ngIf="isAuthor$ | async as isAuthor" >Author's Account</a>
      </li>
     
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/adminDashboard" *ngIf="isLoggedIn$ | async as isLoggedIn" >Admin's Account</a>
      </li>
     
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show "[routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/userLogin"  *ngIf="!isLoggedIn" >Login</a>
      </li>
     

      <li data-toggle="collapse" data-target=".navbar-collapse.show " class="nav-item">
        <a *ngIf="isLoggedIn$ | async as isLoggedIn" (click)="onClickLogout()"> <img src="/assets/icons/signout.svg" alt="" width="25" height="25" title="Sign Out" > 
        </a>
       </li>
 
      </ul>
    </div>
  </div>
</nav>

