  <mat-card class="loginForm">
    
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">


    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    
    <span></span>
    
  <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required minlength="8">
         <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit" >Login</button>
    </form>
  </mat-card>

      
