.cartTitle{

color: crimson;
text-align: center;
}

mat-card{

    background-color: rgb(238, 229, 229);
    margin-top: 20px;
}
img{

    width: 60px;
    height: 60px;
}
table, td, th {  
    
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    padding: 15px;
  }