<mat-grid-list cols="12" rowHeight="2:1">
  <mat-grid-tile  [colspan]="1" [rowspan]="2"></mat-grid-tile>
  <mat-grid-tile  [colspan]="10" [rowspan]="10">        



<mat-card>
  <mat-list>
  <table>
  
    <h3 mat-subheader>Books in Cart</h3>
    <tr mat-list-item *ngFor="let book of booksInCart">
    <td>
      <mat-icon mat-list-icon>
        <img src="{{book.imagePath}}" alt="">
      </mat-icon>

    </td>
    <td>
      <h4 mat-line>{{ book.title }}</h4>
      <p mat-line> {{ book.author }} </p>
    </td>
    <td>{{book.price}}</td>
   <td>
    <button  mat-raised-button color="accent">Remove From Cart</button>
   </td>
    <mat-divider></mat-divider>
  </tr>
  <mat-divider></mat-divider>
  <mat-divider></mat-divider>
 <tr>
   <td>
   <h3>Total:</h3>
  </td>
 <td>
   {{ cartTotal }}
 </td>
  </tr>
</table>
</mat-list>
</mat-card>
</mat-grid-tile>
<mat-grid-tile  [colspan]="1" [rowspan]="2"></mat-grid-tile>
</mat-grid-list>


