


  <mat-grid-list cols="4" rowHeight="450px" gutterSize="50px" >
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
             <button mat-button color="accent">Price: ₹150</button>
             
           </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>



    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
           
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
          
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
          
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
 



    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
         
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>



    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
           
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary">Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
          
             <button mat-button color="accent">Price: ₹150</button>
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
           <mat-card-content>
             <p>
          Lorem ipsum dolor sit amet consectetur
           adipisicing elit. Numquam, corporis asperiores. 
           Quisquam optio alias eum incidunt dolorum, ullam
            eveniet modi velit minus 
            officiis quibusdam aut laborum ipsam ab ipsum at.   </p>
           </mat-card-content>
           <mat-card-actions>
             <button mat-button color="primary"> Add To Cart</button>
             <button mat-button color="primary">Buy Now</button>
             <button mat-button color="accent">Price: ₹150</button>
          
            </mat-card-actions>
         </mat-card>       
    </mat-grid-tile>
 

</mat-grid-list>

<div class="paginator">
<mat-paginator [length]="100"
              [pageSize]="8"
             >
</mat-paginator>
</div>