
<div class="page-section">
    <div class="container">
        <br>
        <br>
        <div class="row" id="main">
            <div class="col-md-4 well" id="leftPanel">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            
                            <h5><small>Author Account</small></h5>
                            <img class="img-round" src="/assets/icons/user.jpg" alt="Texto Alternativo">
                            <h2>John Doe</h2>
                            <p>johndoe@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 well" id="rightPanel">
                <div class="row">
                    <div class="col-md-12">
                        <form role="form" (submit)="onEditProfile(EditForm)" #EditForm="ngForm" method="post">
                            <h2>Edit your profile.<small>It's always easy</small></h2>
                            <hr>
                            
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="fname" id="fname"
                                            class="form-control input-lg" placeholder="First Name"  ngModel #fnameInput="ngModel" required >                                
                                        </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="lname" id="lname"
                                            class="form-control input-lg" placeholder="Last Name"  ngModel #lnameInput="ngModel" required >                                
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="password" id="password"
                                            class="form-control input-lg" placeholder="Current Password"  ngModel #passwordInput="ngModel" required minlength="8">                                
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="password" name="newpassword" id="newpassword"
                                            class="form-control input-lg" placeholder="New Password"  ngModel #newpasswordInput="ngModel" required minlength="8">                                
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-12 col-md-6"></div>
                                <div class="col-xs-12 col-md-6"><input type="submit" 
                                        class="btn btn btn-block btn-lg" value="Save"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>