<main class="product-section">
    <div class="container">
        <div class="row" >
            <div class="col-md-4" *ngFor="let book of books">
                <div class="product-item" >
                    <div class="product-thumb">
                        <img class="img-responsive" src={{book.imagePath}} alt="book-img" />
                    </div>
                    <div class="product-content">
                        <button class="btn"> <img src="/assets/icons/heart.svg" alt="" width="32" height="32" title="Cart"
                                routerLink="/cart">
                        </button>
                        <button class="btn"> <img src="/assets/icons/cart.svg" alt="" width="32" height="32" title="Cart"
                            (click)="onAddToCart($event, book)" >
                        </button>

                        <h4><strong><a>{{ book.title }}</a></strong></h4>
                        <p>Author: {{ book.author }}</p>
                        <p>Genre: {{ book.genre }}</p>  
                        <p class="price">Price: ₹{{ book.price }}</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>