<mat-toolbar color="basic">
    <span>
      <a routerLink="/store">Categories: </a>
    </span>
    <span></span>
    <ul>
      <li>
        <li>
        <a mat-button  >Action</a>
      </li>
      <li>
        <a mat-button >Biography/Autobiography</a>
      </li>

      <li>
        <a mat-button >Comic</a>
      </li>
      
      <li>
        <a mat-button  >Drama</a>
      </li>
     
     
      <li>
        <a mat-button  >Historical Fiction</a>
      </li>

      <li>
        <a mat-button  >Horrer</a>
      </li>
     
      <li>
        <a mat-button  >Humor</a>
      </li>
      
      <li>
        <a mat-button  >Mythology</a>
      </li>
      
      <li>
        <a mat-button  >Romance</a>
      </li>
      <li>
        <a mat-button  >Science Fiction (Sci-Fi)</a>
      </li>
     
      <li>
        <a mat-button  >Thriller</a>
      </li>
     

      </ul>
    </mat-toolbar>
