 <!-- Contact Section -->
  <section class="page-section bg" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          

          


          
          <h2 class="mt-0 white-text">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Questions about Tale? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>(+91)9876543210</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="text-muted" href="mailto:contact@taleEbookStore.com">contact@taleEbookStore.com</a> 
        </div>
    </div>    
    <div class="small text-center ">Copyright &copy; 2020 - Tale-Ebook Store</div>
    </div> 
</section>